*{
    margin :0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}
body{
    background-image: url("HD11.jpg");
    background-size: 1400px 790px;
    background-repeat: no-repeat;    
}
.container{
    display: flex;
}
/* input field styling */
.inputfield{
    background-image:linear-gradient(rgba(188, 155, 241, 0.61) ,rgba(228, 247, 239, 0.753) );
    box-shadow: 
             5px 5px 12px rgba(168, 226, 248, 0.719);
    border: 1px solid black;
    width: 389px;
    height: 750px;
    font-size: 18px;
    border-radius: 25px;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}
/* input text styling */
.firstname,.lastname,.address,.pincode,.gender,.items,.state,.country{
    font-size: 21px;
    margin-left: 20px;
    padding-top: 15px;

}
/* input box styling */
.ipf{
    border: 1.5px solid rgb(113, 89, 245);
    padding-left: 15px;
    border-radius: 5px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    transition: 0.5s;
}
/* input box focus styling */
.ipf:focus{
    box-shadow: 0 0 8px 0 rgb(27, 6, 146);
}
/* input box styling */
#firstip,#lastip,#addressip,#pincodeip,#stateip,#countryip{
    margin-top: 2px;
    margin-left: 23px;
    height: 36px;
    width: 325px;
}
/* gender and food selection box styling */
#checkgen,#checkfoo{
    display: flex;
    margin-left: 17px;
    margin-top: 6px;
}
/* gender radio selection styling */
#gen{
    margin-left: 10px;
    height: 16px;
    width: 16px;
}
/* gender value styling */
.gen-val{
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
/* food */
#textfields2{
    margin-top: -6px;
}
/* food chechbox styling */
#food{
    margin-left: 18px;
    height: 16px;
    width: 16px;
}
/* food varieties styling */
#food-items{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    padding: 11px;
    margin-top: -9px;
}
.state{
    margin-top: -18px;
}
/* button styling */
#button{
    color:rgb(255, 255, 255);
    background-color: rgba(7, 14, 105, 0.973);
    margin-top: 17px;
    margin-left: 69px;
    height: 50px;
    width: 250px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    cursor: pointer;
   
}
/* button hover styling */
#button:hover{
    box-shadow: 0 0 5px rgba(26, 9, 13, 0.911);
}
/* button avtive styling */
#button:active{
    color:rgb(255, 255, 255);
    background-color: rgba(12, 24, 189, 0.897);
    transform: translateY(1px);
}





/* table */
#table{
    background-image:linear-gradient(rgba(243, 215, 164, 0.452) ,rgba(124, 126, 241, 0.753) );
    box-shadow: 5px 5px 12px rgba(168, 226, 248, 0.719);
    border: 1px solid black;
    width: 912px;
    height: 753px;
    font-size: 18px;
    border-radius: 25px;
    margin-top: -767px;
    margin-left: 421px;
    table-layout: fixed;
    margin-bottom: 5px;
    
}
/* table heading styling */
thead{
    display: inline-table;
    height: 45px;
    margin-top: 13px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: left;
    border-collapse: collapse;
    overflow: auto;
    word-break:break-all;
}
/* table heading styling */
th{
    background-color: rgb(2, 131, 13);
    color: rgb(255, 255, 255);
    height: 45px;
    width: 250px;
    padding-left: 5px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    word-break: break-all;
}
/* table output data styling */
td{ 
    padding-top: 5px;
    padding-left: 5px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    background-color: rgba(198, 182, 243, 0.425);
    color: rgb(37, 1, 1);
    word-break: break-all;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}






































